# Dependency directories
node_modules/

# IDE
.idea/
.vscode/

# Test results
test-results/
playwright-report/

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache
.husky/

# dotenv environment variable files
.env
.env.*
!.env.example
